<!DOCTYPE html>
<html ng-app='myApp'>

  <head>
    <meta charset="UTF-8">
    <title>Waitstaff Calculator App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <div class="container" ng-controller='calculator_controller' ng-init='init()'>
      <header><h1>Waitstaff Calculator</h1></header>
      <div class="input">
          <p>Enter the Meal Details</p>
          <hr/>

        <form name="input_form">
          <label>Base Meal Price: $</label><input ng-model="meal_price" ng-pattern="/^[0-9]{1,3}$/" required type="text" name="meal_price">
          <br>
          <label>Tax Rate: %</label><input ng-model="tax_rate" required type="number" name="tax_rate" required>
          <br>
          <label>Tip Percentage: %</label><input ng-model="tip_percentage" required type="number" name="tip_percentage" required>
          <br>
          <div class="button_wrap">
            <button id="cancel" ng-click='cancel()'>Cancel</button>
            <button id="submit" type="submit" ng-click='submit_new()'>Submit </button>
          </div><!-- .button_wrap-->

        </form>

        <div ng-show='input_form.$submitted&&input_form.meal_price.$invalid'>Please type a number</div>
        
      </div> <!-- .input-->

      <div class="output">
        <div class="customer_charges">
          <p>Customer Charges</p>
          <hr>
          <p>Subtotal  {{subtotal|number:2}}</p>
          <p>Tip {{tip|number:2}}</p>
          <hr>
          <p>Total {{total|number:2}}</p>
          
        </div> <!-- .customer_charges-->

        <div class="my_earning">
          <p>My Earning Info</p>
          <hr>
          <p>Tip Total:  {{total_tip|number:2}}</p>
          <p>Meal count: {{meal_count|number:0}}</p>
          <p>Average Tip Per Meal: {{avg_tip|number:2}}</p>
          
        </div> <!-- .my_earning-->

      </div> <!-- .output-->

      <button id="reset" ng-click='reset()'>Reset</button>
      
    </div> <!-- .container-->


  </body>
</html>